<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
 <div class="container text-center">
   <small>Copyright &copy; <%= link_to"Nemanja Marjanovic", "https://www.instagram.com/nemanja_marjanovic_bogotac/", class: "text-white" %></small>
 </div>
</footer>
